#Stats 141SL - Dr. Rootman Case Study

In [3]:
import numpy as np
import pandas as pd

In [5]:
root = pd.read_excel("rootman 1 winter 19.xlsx")
root.head()

,name,deleted,verified,date,id,polygon/username,polygon/pt/0/x,polygon/pt/0/y,polygon/pt/1/x,polygon/pt/1/y,...,polygon/pt/24/x,polygon/pt/24/y,polygon/pt/25/x,polygon/pt/25/y,polygon/pt/26/x,polygon/pt/26/y,polygon/pt/27/x,polygon/pt/27/y,polygon/pt/28/x,polygon/pt/28/y
0,32xn26mtxzvjtfw68kwcuoqy9pll0m-a3k758si907cg9,0,0,07-Feb-2019 14:58:04,154,36WLNQG780M8UGNIFGBYQUSISHMBEY,171,411,233,336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32xn26mtxzvjtfw68kwcuoqy9pll0m-a1nofp5dv5s7dw,0,0,07-Feb-2019 15:29:29,155,3EFE17QCRDHJVCVMG35Z1MZVOL0SHW,209,408,245,386,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32xn26mtxzvjtfw68kwcuoqy9pll0m-a3n5p5vo81fij6,0,1,07-Feb-2019 15:30:49,156,3OVR4I9USQVD6KSE9SWBCXBQ1STQ4J,211,413,231,395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,32xn26mtxzvjtfw68kwcuoqy9pll0m-a1mpgnvkji4zt6,0,-1,07-Feb-2019 15:35:57,160,34QN5IT0T03Q1SAH4XS9E30DQAS80B,201,411,219,391,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,32xn26mtxzvjtfw68kwcuoqy9pll0m-a2ej7u3tzakrog,0,0,07-Feb-2019 17:51:28,161,308Q0PEVB9P1MSA7DFNTK3VKWAV9I0,205,406,220,395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
root.shape
# 59 bhttp://localhost:8888/notebooks/Desktop/Github%20Repository/Dr.-Rootman-Case-Study/Rootman_James.ipynb#y 64

(59, 64)

In [7]:
root.groupby('deleted')['id'].nunique()

deleted
0    51
1     8
Name: id, dtype: int64

In [8]:
root.groupby('verified')['id'].nunique()

verified
-1    13
 0    35
 1    11
Name: id, dtype: int64

In [9]:
### compare dots on the empty grid provided above using x/y coords
### still worth counting number of dots and area of polygons imo, but up to discussion
### need to compare to photos provided

## Rita's Script Translated

In [36]:
# Create matrix of only coordinates
rootman_coord = root.iloc[:,7:64] 
rootman_coord = rootman_coord.values
rootman_coord[np.isnan(rootman_coord)] = 0
# rootman_coord.dtype # <- type float
rootman_coord

dtype('float64')

In [46]:
#from numpy import zeros
zeros([1000,1000])

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])